.share {
    width: 70%;
    height: 900px;
    box-shadow: 3px 7px 13px -10px #65789f;
    border-radius: 10px;
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.title{
    font-size: large;
    font-weight: bold;
}

.inputTitle {
    border: none;
    width: 100%;
    height: 50px;
    outline-color: #59b7f5;
}

.inputTitle:focus {
    /* outline: none; */
}

.shareMiddle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    font-size: large;
    font-weight: bold;
}

.inputContent {
    border: none;
    width: 100%;
    height: 400px;
    outline-color: #59b7f5;
}

.inputContent:focus {
    /* outline: none; */
}

.img{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    left:0
}

.img label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: large;
    align-self: center;
  }
  
  .img input,
  .img textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center;
  }

.shareButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.priceSetting{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.priceTitle{
    font-size: large;
    font-weight: bold;
}

.requestSlotTitle{
    font-size: large;
    font-weight: bold;
}

.shareButtonWrapper{
    display: flex;
    align-items: center;
}

.shareButton {
    border: none;
    padding: 6px 17px;
    background-color: #59b7f5;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 75px;
    align-self: center;
}