.followings {
    flex: 6;
  }
  
  .followingsWrapper {
    padding: 20px;
  }
  
  .followingsWrapper h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .followingsWrapper ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .followingsWrapper li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 4px 6px;
    width: 50%;
    cursor: pointer;
    box-shadow: 3px 7px 13px -10px #65789f;
    border-radius: 10px;
  }
  
  .followingUser {
    display: flex;
    align-items: center;
  }
  
  .followingUserImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .followingUsername {
    font-size: 18px;
  }
  